# ─── Telegram Notifications ─────────────────────────────────────────────────────
TELEGRAM_BOT_TOKEN="fadafadfafdaf"
TELEGRAM_CHAT_ID="23412432423"

# ─── Email Notifications ─────────────────────────────────────────────────────
BK_EMAIL_FROM=backupfire@yourdomain.com
BK_EMAIL_SMTP=smtps://smtp.zoho.com:465
BK_EMAIL_USER=backupfire@yourdomain.com
BK_EMAIL_PASS=your-zoho-password
